{% extends "admin/change_list.html" %}

{% block object-tools-items %}
  <li>
    <a href="{% url 'admin:games_game_fetch_new' %}" class="addlink">
      RAWG 신작 가져오기
    </a>
  </li>
  <li>
    <a href="{% url 'admin:games_game_fill_videos' %}" class="addlink">
      누락된 Youtube 영상 업데이트하기
    </a>
  </li>
  <li>
    <a href="{% url 'admin:games_game_export_translations' %}" class="addlink">
      번역할 게임 JSON 내보내기
    </a>
  </li>
  <li>
    <a href="{% url 'admin:games_game_import_translations' %}" class="addlink">
      번역 JSON 가져오기
    </a>
  </li>
  {{ block.super }}
{% endblock %}
